.main_container{
  padding: 70px 50px;
  width: 100%;
  text-align: center;
}
.main_container h2{
  font-size: 28px;
  font-weight: bold;
}
.main_container h3{
  font-size: 15px;
  margin-top: 15px;
  color: #666;
}

.button_container{
  padding:3px 0;
  border-radius: 500px;
  border: 1px solid rgb(200,200,200);
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin: 30px auto 0 auto;
  position: relative;
}
.button_container .button{
  width: 100px;
  margin: 0 5px;
  border-radius: 500px;
  font-weight: 800 !important;
  font-size: 15px;
  cursor: pointer;
  z-index: 1;
  transition: .5s;
}
.button_container .button.selected{
  /* background-color: var(--primary-color); */
  color: white;
}

.moving_container{
  transition: .5s ease-in-out;
    width: 100px;
  border-radius: 500px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
    margin-top: 2px;
    height: 30px;
}
.left{
  left: 5px;
}
.middle{
  left: 115px;
}
.right{
  left: 224px;
}

@media (max-width: 1080px){
  .main_container{
    padding: 40px 9px;
  }
}