  
.main_container{
  position: relative;
  padding: 16px 20px 22px 30px;
  background: #ffffff;
  border: 1.5px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 300ms ease;
  cursor: pointer;
  transition: .3s;
  min-height: 225px;
}
.main_container.premium{
  border: 2.5px solid orange;
}
.main_container.special_plus{
  border: 2px solid green;
}
.main_container.special{
  /* border: 1.5px solid green; */
}
.main_container.normal_plus{
  border: 1.8px solid black;
  height: fit-content;
  /* padding-bottom: 5px; */
}
.main_container.normal{
  height: fit-content !important;
}
.main_container:hover{
  background: rgb(250,250,250);
  /* top: -4px; */
  margin-top: -4px
}
.img_container{
  position: relative;
  display: inline-block;
  width: 100%;
  height: 65px;
  max-height: 65px;
}
.word_logo_container{
  height: 65px;
  max-height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.word_logo_container p{
  line-height: 1.1 !important;
}
.content{
  display: -webkit-box; /* 웹킷 브라우저에 대한 지원 */
  -webkit-line-clamp: 3; /* 표시할 줄 수 */
  -webkit-box-orient: vertical; /* 수직 방향으로 요소를 나열 */
  overflow: hidden; /* 넘치는 텍스트 감춤 */
  padding: 0 7px;
}
.content_oneline{
  padding: 0 7px; 
  display: -webkit-box; /* 웹킷 브라우저에 대한 지원 */
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  -webkit-box-orient: vertical; /* 수직 방향으로 요소를 나열 */
  overflow: hidden; /* 넘치는 텍스트 감춤 */
  margin-bottom: 10px;
}
.word_logo_container .font_1{
  font-family: 'Bagel Fat One', cursive ;
}
.word_logo_container .font_2{
  font-family: 'Diphylleia', serif ;
}
.word_logo_container .font_3{
  font-family: 'Gothic A1', sans-serif;
}
.word_logo_container .font_4{
  font-family: 'Nanum Gothic Coding', monospace;
}
.word_logo_container .font_5{
  font-family: 'Noto Sans KR', sans-serif;
}
.word_logo_container .font_6{
  font-family: 'Orbit', sans-serif;
}




.companyName{
  font-size: 14px !important;
  color: var(--primary-color);
}

.title{
  /* margin-top: 4px; */
  font-size: 17px !important;
  font-weight: 800 !important;
  margin-top: 10px;
  word-break: keep-all;
  /* margin-top: 5px !important; */
  display: -webkit-box; /* 웹킷 브라우저에 대한 지원 */
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  -webkit-box-orient: vertical; /* 수직 방향으로 요소를 나열 */
  overflow: hidden; /* 넘치는 텍스트 감춤 */
}

.info_item{
  display: flex;
  justify-content: flex-start;
  /* margin-bottom: 5px !important; */
}
.info_item div{
  line-height: 1;
}
.info_item p{
  text-align: start;
  line-height: 1.2;
  margin-left: 3px;
  letter-spacing: -.5px !important;
  display: -webkit-box; /* 웹킷 브라우저에 대한 지원 */
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  -webkit-box-orient: vertical; /* 수직 방향으로 요소를 나열 */
  overflow: hidden; /* 넘치는 텍스트 감춤 */
}


.salary{
  /* font-weight: bold; */
  /* color: red; */
}
.salary p{
  /* font-weight: bold; */
  color: #d12a00
}


.button_container{
  margin-top: 20px;
}


.common_container{
  height: 70px;
  border: 1px solid rgb(222,222,222);
  border-radius: 5pxx;
  background-color: rgb(255 ,255,255);
  display: grid;
  align-items:center;
  padding: 0 10px;
  cursor: pointer;
  transition: .3s;
  width: 100%;
}
.common_container:hover{
  background-color: rgb(245,245,245);
}
.con{
  width: 100%;
  position: relative;
}
.common_container h5{
  font-size: 13px;
  margin: 0;
  color: rgb(94, 90, 216);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.common_container h2{
  font-size: 17px;
  margin-top: 4px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.common_container p{
  /* width: 100%; */
  font-size: 12px;
  line-height: normal;
  margin-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}
.common_container strong{
  color: #b4300f;
}
@media (max-width: 1200px) {
  .main_container{
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .main_container{
    padding: 10px;
    height: auto;
  }
}

.ddambang{
  position: relative;
  padding: 16px 20px 22px 30px;
  background: #ffffff;
  border: 1.5px solid #828282;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 300ms ease;
  cursor: pointer;
  transition: .3s;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ddambang .title{
  text-align: center;
}